@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
:root {
  --primary: #04abed;
  --primary-dark: #1a1a1a;
  --primary-white: #ffffff;
  --secondary-white: #f8f8f8;
  --tertiary-white: #f1f1f1;
  --fourth-white: #e5e5e5;
  --fifth-white: #cbcbcb;
  --sixth-white: #f0f0f0;
}

@keyframes ring {
  0% {
    transform: rotateZ(0);
  }
  1% {
    transform: rotateZ(15deg);
  }
  3% {
    transform: rotateZ(-14deg);
  }
  5% {
    transform: rotateZ(17deg);
  }
  7% {
    transform: rotateZ(-16deg);
  }
  9% {
    transform: rotateZ(15deg);
  }
  11% {
    transform: rotateZ(-14deg);
  }
  13% {
    transform: rotateZ(13deg);
  }
  15% {
    transform: rotateZ(-12deg);
  }
  17% {
    transform: rotateZ(12deg);
  }
  19% {
    transform: rotateZ(-10deg);
  }
  21% {
    transform: rotateZ(9deg);
  }
  23% {
    transform: rotateZ(-8deg);
  }
  25% {
    transform: rotateZ(7deg);
  }
  27% {
    transform: rotateZ(-5deg);
  }
  29% {
    transform: rotateZ(5deg);
  }
  31% {
    transform: rotateZ(-4deg);
  }
  33% {
    transform: rotateZ(3deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  37% {
    transform: rotateZ(1deg);
  }
  39% {
    transform: rotateZ(-1deg);
  }
  41% {
    transform: rotateZ(1deg);
  }
  43% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--primary-white);
  font-size: 16px;
}

body.no-scroll {
  overflow-y: hidden;
}

input {
  font-family: "Nunito", sans-serif;
}

.font-bold-800 {
  font-weight: 800 !important;
}

.bg-grey {
  background-color: var(--secondary-white) !important;
}

header .top-header {
  background: var(--primary-dark);
}

header .top-header li {
  color: var(--primary-white);
  transition: all 0.5s ease;
}

header .top-header .header-dropdown {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

header .top-header .onhover-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .top-header img {
  margin: 0.8rem;
  width: 1.2rem;
}

header .top-header a {
  color: var(--primary-white);
  display: flex;
  align-items: center;
}

header .top-header a:hover {
  color: var(--primary) !important;
}

header #main-menu > li > a {
  text-transform: uppercase;
}

header #main-menu .hotDeal {
  display: inline-flex;
  align-items: center;
}

header #main-menu .hotDeal img {
  width: 0.75rem;
}

header .search-bar {
  position: relative;
  width: 30rem;
}

header .search-bar input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1rem 3rem 1rem 1rem;
  border: 0;
  width: 100%;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
}

header .search-bar input:focus {
  outline: none;
  box-shadow: 0px 0 6px rgba(52, 203, 242, 0.28);
}

header .search-bar .btn {
  position: absolute;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: var(--primary-white);
  right: 0.4rem;
  top: 50%;
  background: var(--primary);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

header .search-bar .btn:hover {
  color: var(--primary-white);
}

header .brand-logo img {
  width: 10rem;
}

header .icon-nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

header .icon-nav > ul li > div > img {
  width: 1.5rem;
}

header .cart_qty_cls {
  position: absolute;
  background: var(--primary);
  width: 20px;
  height: 20px;
  color: var(--primary-white);
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  top: 0;
  right: -6px;
  padding: 3px;
}

.shopping-cart .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shopping-cart .buttons a {
  padding: 0.4rem 0.8rem 0.2rem;
  background-color: var(--primary-dark);
  color: var(--primary-white);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.shopping-cart .buttons a:hover {
  background-color: var(--primary);
}

.btn {
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn img {
  width: 1.6rem;
  margin-right: 0.3rem;
}

.btn.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--primary-white);
}

.btn.btn-primary:hover {
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
}

.btn.btn-dark {
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
  color: var(--primary-white);
}

.btn.btn-dark:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.slider-bg {
  background: -ms-linear-gradient(-90deg, #f1f1f1 0%, #f1f1f1 0%, white 40.6%, #fcfcfc 71.45%, #f1f1f1 97.07%, #f1f1f1 97.86%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#F1F1F1' ,GradientType=0)";
  background: linear-gradient(180deg, #f1f1f1 0%, #f1f1f1 0%, white 40.6%, #fcfcfc 71.45%, #f1f1f1 97.07%, #f1f1f1 97.86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#F1F1F1' , GradientType=0);
}

.slider-img {
  width: 65%;
}

@media screen and (min-width: 1430px) {
  .slider-img {
    width: 55%;
  }
}

.home-slider .slick-dots {
  bottom: 1rem !important;
}

.hero-text {
  text-align: left;
}

.hero-text p {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.hero-text span {
  color: var(--primary);
}

.hero-text h2 {
  display: inline-block;
  font-size: 2.5rem;
  background: var(--primary-dark);
  padding: 0.5rem;
  color: var(--primary-white);
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.hero-text h3 {
  margin-bottom: 1.2rem;
  color: var(--primary-dark);
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-text .btn.hero-btn {
  padding: 1rem 1.5rem;
  background: var(--primary-dark);
  border-color: var(--primary-dark);
  font-size: 1.5rem;
  color: var(--primary-white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero-text .btn.hero-btn:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.slick-dots li button {
  background: var(--fourth-white);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active {
  width: 3.5rem;
}

.slick-dots li.slick-active button {
  width: 100%;
  background: var(--primary);
}

.add-to-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--primary-dark);
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.4rem 1rem;
  border: 1px solid var(--sixth-white);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.add-to-cart img {
  width: 1rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.add-to-cart span {
  display: inline-block;
  margin-top: 0.3rem;
}

.add-to-cart:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-white);
}

.add-to-cart:hover img {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.left-with-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-with-controller p {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .left-with-controller p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .left-with-controller p {
    font-size: 2.16rem;
  }
}

.left-with-controller .slider-controller {
  margin-bottom: 0;
}

.slider-controller {
  display: inline-flex;
  align-items: center;
  margin-bottom: 3rem;
}

.slider-controller > div {
  cursor: pointer;
  padding: 0.15rem 1rem;
  background-color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.slider-controller > div i {
  font-size: 0.9rem;
  color: var(--primary-white);
  line-height: 0;
}

.slider-controller > div:first-child {
  margin-right: 2rem;
}

.slider-controller > div:hover {
  background-color: var(--primary);
}

.product-box .product-detail a h6 {
  display: inline-block;
  color: var(--primary-dark);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0.3rem 0 0;
}

.product-box .product-detail h4 span {
  text-decoration: line-through;
  color: var(--fifth-white);
}

.product-box .front {
  position: relative;
}

.product-box .front .sale-badge {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  background-color: var(--primary);
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  line-height: initial;
}

.special-section {
  background: var(--primary);
  position: relative;
  padding: 5rem 3rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.special-section .left-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.special-section .left-text h4,
.special-section .left-text h5 {
  font-weight: 700;
  color: var(--primary-white);
  line-height: 2.2rem;
}

.special-section .left-text h4 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.special-section .left-text h5 {
  font-size: 1.8rem;
}

.special-section .bg-shape {
  position: absolute;
  width: 29rem;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  padding: inherit;
}

.special-section.subscribe .left-text h4,
.special-section.subscribe .left-text h5 {
  font-size: 2rem;
}

.special-section.subscribe .bg-shape {
  width: 19rem;
}

.special-section.subscribe .subscribe-input {
  width: 100%;
  position: relative;
}

.special-section.subscribe .subscribe-input input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 1rem 10rem 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.special-section.subscribe .subscribe-input input:focus {
  border: none;
  outline: 0;
  background: var(--tertiary-white);
}

.special-section.subscribe .subscribe-input .btn-subscribe {
  position: absolute;
  background: var(--primary-dark);
  color: var(--primary-white);
  text-transform: uppercase;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.special-section.subscribe .subscribe-input .btn-subscribe:hover {
  background: var(--primary);
}

.flash-slider .product-box {
  width: 100%;
  display: flex !important;
  align-items: center;
  background: var(--primary-white);
  padding: 0.6rem 1rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.flash-slider .product-box .img-wrapper {
  flex: 30% 0 0;
}

.flash-slider .product-box .product-detail {
  flex: 70% 0 0;
  padding: 0 0.6rem;
}

.flash-slider .product-box .product-detail h6 {
  white-space: unset;
  line-height: 1.4rem;
  margin-top: 0;
}

.flash-slider .slick-dots {
  justify-content: flex-start;
  bottom: -3rem;
}

.flash-slider .slick-dots li.slick-active button {
  background: var(--fourth-white);
}

.product-left {
  position: relative;
}

.product-left .slider-bar {
  background: var(--tertiary-white);
  appearance: none;
  display: block;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.product-left .slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
}

.product-left .slider-bar::-moz-range-thumb {
  appearance: none !important;
}

.product-left .slider-bar::-ms-thumb {
  background: transparent;
}

.product-left .progress-bar {
  height: 100%;
  width: 50%;
  background: var(--fourth-white);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  position: absolute;
  top: 0;
}

.flash-sale-link {
  position: absolute;
  bottom: -1rem;
  right: 1.3rem;
  color: var(--primary-white);
  font-weight: 700;
  text-transform: uppercase;
}

.flash-sale-link:hover {
  color: var(--tertiary-white);
}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  width: 20rem;
  margin-bottom: 1rem;
}

.footer-logo p {
  font-size: 1.5rem;
  color: var(--primary-dark);
}

.footer-title {
  margin-bottom: 1rem;
}

.footer-title h3 {
  color: var(--primary-dark);
  font-weight: 700;
}

.social-list {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
}

.social-list li {
  margin-right: 0.3rem;
}

.social-list li a {
  padding: 0.3rem 1rem;
  background-color: var(--tertiary-white);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.social-list li a i {
  color: var(--fifth-white);
  font-size: 1rem;
}

.social-list li a:hover {
  background-color: var(--primary);
}

.social-list li a:hover i {
  color: var(--primary-white);
}

.footer-tel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tel img {
  width: 2.3rem;
}

.footer-tel .contact-num {
  padding-left: 0.8rem;
}

.footer-tel .contact-num p {
  color: var(--primary-dark);
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.3rem;
  font-weight: 500;
}

.tes-bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.testimonial-box {
  padding: 3rem 0 1rem;
  height: 100%;
}

.testimonial-box .testmonial-card {
  background-color: var(--primary-white);
  padding: 2rem;
  position: relative;
  height: 100%;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.testimonial-box .testmonial-card .quotes {
  width: 3rem;
  position: absolute;
  left: 2rem;
  top: -2rem;
}

.testimonial-box .testmonial-card .testimonial {
  background: transparent;
}

.testimonial-box .testmonial-card .testimonial p {
  color: var(--primary-dark);
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.testimonial-box .testmonial-card .meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-box .testmonial-card .meta-img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial-box .testmonial-card .meta-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-box .testmonial-card .meta-desc-name {
  font-weight: 700;
}

.testimonial-box .testmonial-card .meta-desc-place {
  font-size: 0.8rem;
}

.testimonial-box:hover .quotes {
  animation: ring 4s 0.5s ease-in-out forwards;
  -webkit-animation: ring 4s 0.5s ease-in-out forwards;
}

.sm-info-card {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.sm-info-card img {
  width: 5rem;
}

.sm-info-card__text span {
  display: block;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 1rem;
}

.sm-info-card:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.has-shape {
  position: relative;
  z-index: 0;
}

.has-shape .bg-shape {
  position: absolute;
  width: 18rem;
  left: 0.3rem;
  top: -4rem;
  padding: inherit;
  z-index: -1;
}

#main-menu li ul.mega-menu {
  padding: 0.8rem !important;
  top: 60px !important;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.17);
  width: 35rem !important;
}

#main-menu li ul.mega-menu .link-section a {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

#main-menu li ul.mega-menu .link-section #preview-menu-img {
  height: 14rem;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

#main-menu li ul li a {
  display: inline-flex;
  align-items: center;
}

#main-menu li ul li a .menu-icon {
  width: 1.1rem;
  padding: 0;
  margin-right: 0.45rem;
  transform: rotate(339deg);
  -webkit-transform: rotate(339deg);
  -moz-transform: rotate(339deg);
  -ms-transform: rotate(339deg);
  -o-transform: rotate(339deg);
}

#main-menu li ul li a:hover {
  color: var(--primary);
}

.wishlist-link img {
  width: 1.45rem;
}

@media screen and (min-width: 1400) {
  .home-slider:hover .slick-prev {
    left: 50px;
  }
}

@media screen and (min-width: 1200) {
  .home-slider:hover .slick-next {
    right: 50px;
  }
}

.home-slider .slick-prev,
.home-slider .slick-next {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home-slider .slick-prev::before,
.home-slider .slick-next::before {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

.home-slider .slick-prev:hover::before,
.home-slider .slick-next:hover::before {
  background-color: var(--primary);
  color: var(--primary-white);
}

.product-box {
  background: var(--primary-white);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.product-box .product-detail {
  padding: 0.8rem;
}

.product-box .cart-info,
.product-box .cart-wrap,
.product-wrap .cart-info,
.product-wrap .cart-wrap {
  background-color: rgba(0, 0, 0, 0.37);
}

.modal .modal-body .modal-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.modal .modal-body .modal-top .btn-close {
  border: 0;
  background: var(--sixth-white);
  color: var(--fifth-white);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal .modal-body .modal-top .btn-close:hover {
  background: var(--primary);
  color: var(--primary-white);
}

.modal .modal-body .product-buttons .btn {
  font-size: 1rem;
  font-weight: 600;
}

.product-features-list {
  margin: 1rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-features-list li {
  padding-left: 1.1rem;
  position: relative;
}

.product-features-list li:before {
  font: normal normal normal 15px/1 FontAwesome;
  content: "\f14a";
  position: absolute;
  left: 0;
  top: 4px;
  color: var(--primary);
}

.title-inner1 {
  margin-bottom: 3rem;
}

.title-inner1.has-controller {
  display: flex;
  align-items: baseline;
}

.title-inner1.has-controller img {
  width: 1.1rem;
  margin-right: 1.5rem;
}

.ratio_asos .bg-size:before {
  padding-top: 16rem;
}

@media screen and (min-width: 1200px) {
  .ratio_asos .bg-size:before {
    padding-top: 13.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .ratio_asos .bg-size:before {
    padding-top: 16.5rem;
  }
}

.product-box .cart-info.cart-wrap,
.product-box .cart-wrap.cart-wrap,
.product-wrap .cart-info.cart-wrap,
.product-wrap .cart-wrap.cart-wrap {
  background-color: transparent;
}

.product-box .cart-info.cart-wrap a i,
.product-box .cart-wrap.cart-wrap a i,
.product-wrap .cart-info.cart-wrap a i,
.product-wrap .cart-wrap.cart-wrap a i {
  background: rgba(0, 0, 0, 0.17);
  color: var(--primary-white);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.17);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.product-box .cart-info.cart-wrap a:not(:last-child),
.product-box .cart-wrap.cart-wrap a:not(:last-child),
.product-wrap .cart-info.cart-wrap a:not(:last-child),
.product-wrap .cart-wrap.cart-wrap a:not(:last-child) {
  margin-bottom: 1rem;
}

.product-box .cart-info.cart-wrap a:hover i,
.product-box .cart-wrap.cart-wrap a:hover i,
.product-wrap .cart-info.cart-wrap a:hover i,
.product-wrap .cart-wrap.cart-wrap a:hover i {
  background: var(--primary);
  color: var(--primary-white);
}

.product-m {
  margin: 0 -10px;
}

.zoomImg {
  cursor: crosshair;
}

footer h3 {
  font-size: 1.33rem;
}

.no-slider.row {
  margin-left: -8px;
  margin-right: -8px;
}

input::placeholder {
  color: var(--fourth-white);
}

.custome-width.col-md-4 {
  max-width: 29.1%;
  flex: 0 0 29.1%;
}

.custome-width.col-md-8 {
  max-width: 70.1%;
  flex: 0 0 70.1%;
  padding-left: 0;
}

.profile-top {
  margin-left: 0.5rem;
  cursor: pointer;
}

.profile-top > i {
  font-size: 1.4rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.profile-top > span {
  font-size: 1.25rem;
  font-weight: 600;
}

.profile-top:hover i {
  color: var(--primary);
}

.profile-top .onhover-show-div {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.16);
}

.profile-top .onhover-show-div li a {
  font-size: 1.1rem;
  color: var(--primary-dark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.profile-top .onhover-show-div li a:hover {
  color: var(--primary) !important;
}

.profile-top .onhover-show-div li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.countDowntimer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1.2rem;
}

.customize-btn {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  padding: 1.2rem 1rem;
}

.f-highlight {
  font-size: 2.4rem !important;
}

.product-rating-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.product-rating-container .rating-count {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-family: inherit;
}

.product-rating-container .review-tooltip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  min-width: 20px;
  padding: 5px;
  font-size: 15px;
  line-height: 0px;
  height: 20px;
  background-color: var(--primary);
  top: 50%;
  right: -36px;
  margin-top: -10px;
  color: var(--primary-white);
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.product-rating-container .review-tooltip:before {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -5px;
  display: block;
  border-color: transparent var(--primary) transparent transparent;
  border-width: 5px 5px 5px 0px;
  left: -10px;
  border-style: solid;
  position: relative;
}

.product-rating-container:hover .review-tooltip {
  opacity: 1;
}

.price-detail {
  color: var(--primary-dark);
}

.pro-main .border-product .product-title {
  font-size: 1.5rem;
}

.pro-main .border-product .product-features-list li {
  font-size: 1.1rem;
  padding-left: 1.3rem;
}

.pro-main .border-product .product-features-list li:before {
  font-size: 1.05rem;
  top: 5px;
}

.share-pro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.share-pro ul {
  margin-top: 0;
  margin-left: 1rem;
}

.select2-results__option--selectable {
  display: block;
}

.quantity-right-plus {
  border-top-right-radius: 0.3rem !important;
  border-bottom-right-radius: 0.3rem !important;
}

.has-gender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select2 {
  display: inline-block;
  margin-right: 0.5rem;
  width: 10rem !important;
  height: 35px;
  font-size: 18px;
  text-transform: capitalize;
}

.select2 .select2-selection {
  height: 100%;
  border-color: var(--fourth-white);
}

.select2-dropdown {
  border-color: var(--fourth-white) !important;
  overflow: hidden;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
  height: 35px;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
  line-height: 35px;
}

.select2-container--default
.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--primary);
}

.tab-product .nav-material.nav-tabs {
  border-bottom: 0;
}

.tab-product .nav-material.nav-tabs .nav-item .nav-link {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
  position: relative;
}

.tab-product .nav-material.nav-tabs .nav-item .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  content: "";
  height: 0.3rem;
  background: var(--primary);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.tab-product .nav-material.nav-tabs .nav-item .nav-link.active::after {
  width: 100%;
}

.tab-product .tab-pane {
  padding: 2rem 0;
}

.tab-product .product-tab-discription {
  color: var(--primary-dark);
}

.tab-product .product-tab-discription h4 {
  font-weight: 600;
}

.tab-product .product-tab-discription p {
  color: var(--primary-dark);
}

.tab-product .review-rating {
  margin-bottom: 1.5rem;
}

.tab-product .review-rating p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.tab-product .review-rating .product-rating-container {
  margin: 0;
}

.tab-product .avg-rating-container {
  display: flex;
  align-items: center;
}

.tab-product .avg-rating-container h4 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-dark);
  margin-right: 1rem;
  margin-bottom: 0;
}

.tab-product .avg-rating-container .avg-rating-star p {
  color: var(--primary-dark);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tab-product .avg-rating-container .avg-rating-star .product-rating {
  padding: 0;
}

.tab-product .rating-summury {
  padding-top: 2rem;
}

.tab-product .rating-summury-box {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-product .rating-summury-box .product-rating {
  padding: 0;
}

.tab-product .rating-summury-box .product-left {
  display: flex;
  align-items: center;
}

.tab-product .rating-summury-box .product-left .slider-bar {
  height: 0.65rem;
  margin-right: 1rem;
}

.tab-product .rating-summury-box .rating-percent {
  font-weight: 700;
}

.tab-product .theme-form h4 {
  display: block;
  font-weight: 600;
}

.tab-product .comment-section .media-body h6 {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.tab-product .comment-section .media-body p {
  color: var(--primary-dark);
  font-size: 1rem;
}

.tab-product .comment-section .reply {
  padding-left: 2rem;
  margin-top: 0.8rem;
}

.tab-product .comment-section li,
.tab-product .comnt-sec li {
  border: 0;
}

.tab-product .comnt-sec li {
  padding: 0.5rem 0 0;
}

.tab-product .comnt-sec li a {
  color: var(--primary-dark);
}

.tab-product .comnt-sec li a span {
  font-weight: 700;
  margin-left: 0.5rem;
}

.tab-product .comnt-sec li a .check {
  color: var(--primary);
}

.tab-product .product-rating {
  padding: 0;
}

.input-number:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.custom-control-label::before {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--primary);
  background-color: var(--primary);
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.uploaded-files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem -0.5rem 0;
  width: 100%;
}

.uploaded-files > div {
  padding: 0 0.5rem;
  width: 20%;
}

.uploaded-files .file-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 0.8rem;
  overflow: hidden;
  background: var(--primary);
  height: 2rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.uploaded-files .file-up-name {
  font-size: 1rem;
  color: var(--primary-white);
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uploaded-files .file-up-remove {
  color: var(--primary-white);
  font-size: 1rem;
}

.uploaded-imgs {
  margin: 1rem 0 0.5rem;
}

.uploaded-imgs a img {
  border-radius: 0.3rem !important;
  -webkit-border-radius: 0.3rem !important;
  -moz-border-radius: 0.3rem !important;
  -ms-border-radius: 0.3rem !important;
  -o-border-radius: 0.3rem !important;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  object-fit: cover;
}

.rating-review-tab {
  padding-top: 3rem;
  margin-top: 2rem;
  border-top: 1px solid var(--tertiary-white);
}

.rating-review-tab .tab-pane {
  padding-top: 0;
}

.rating-review-tab .nav-link .product-rating-container {
  margin: 0;
  cursor: pointer !important;
}

.rating-review-tab .nav-link .product-rating-container .product-rating {
  cursor: pointer !important;
}

.rating-review-tab .nav-link .product-rating-container .review-tooltip {
  display: inline-block;
  height: 1.5rem;
  width: 5.2rem;
  line-height: 0.3rem;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.rating-review-tab .nav-link .product-rating-container .review-tooltip::before {
  top: unset;
  bottom: -24px;
  left: 50%;
  border-color: var(--primary) transparent transparent transparent;
  border-width: 5px 5px 5px 5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.rating-review-tab .blog-detail-page .comment-section li {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pro-spec {
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.pro-spec li {
  display: block;
  width: 50%;
  flex: 0 0 50%;
  padding: 0.5rem;
}

.pro-spec li span {
  color: var(--primary-dark);
  display: block;
  width: 100%;
}

.pro-spec li .pro-spec-title {
  font-size: 0.8rem;
}

.pro-spec li .pro-spec-detail {
  font-size: 1.1rem;
  font-weight: 700;
}

.cuztomize-product {
  padding: 1rem 2rem;
}

.cuztomize-product__img-container {
  text-align: center;
  position: relative;
}

.cuztomize-product__img-container .editable-img {
  width: 100%;
  margin: 0 auto;
}

.cuztomize-product__img-container .editable-img img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.cuztomize-product__img-container--product-sides {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
}

.cuztomize-product__img-container--product-sides .icon {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: 0;
  background: var(--secondary-white);
}

.cuztomize-product__img-container--product-sides .icon img {
  width: 1.1rem;
}

.cuztomize-product__img-container--product-sides .icon:hover {
  background: var(--primary);
}

.cuztomize-product__img-container--product-sides .icon:hover img {
  filter: brightness(0) invert(100%);
  -webkit-filter: brightness(0) invert(100%);
}

.add-text-container {
  position: relative;
}

.add-text-container textarea {
  width: 100%;
  border-color: var(--tertiary-white);
  padding: 1rem 0.8rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.add-text-container textarea:focus {
  box-shadow: none;
  border-color: var(--primary);
  outline: none;
}

.add-text-container .added-texts-opt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem -0.5rem;
  padding: 0 0.5rem;
}

.add-text-container .added-texts-opt li {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.add-text-container .added-texts-opt li .select2 {
  margin: 0;
}

.add-text-container .added-texts-opt li button {
  border: 0;
  background: var(--fourth-white);
  padding: 0.3rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.add-text-container .added-texts-opt li button.active-effect {
  color: var(--primary-white);
  background: var(--primary);
}

.has-swatch {
  position: relative;
}

.has-swatch .img-icon-color {
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--tertiary-white);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background: var(--primary-dark);
}

.has-swatch .swatch-select {
  font-size: 1.3rem;
  position: relative;
  padding: 0 0.5rem;
  cursor: pointer;
}

.has-swatch .swatch-select span {
  position: absolute;
  height: 0.3rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #202020;
}

.has-swatch .swatch-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 2rem;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 0.8rem 0rem;
  z-index: 999;
  background: var(--primary-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}

.has-swatch .swatch-container .swatch-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  width: 15rem;
}

.has-swatch .swatch-container .swatch-list li {
  padding: 0.2rem 0.5rem;
}

.has-swatch .swatch-container .swatch-list li div {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.has-swatch .swatch-container .swatch-list li div img {
  width: 100%;
  object-fit: cover;
}

.has-swatch .swatch-container.fadeUpIn {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.has-swatch .swatch-container .selected-color div {
  position: relative;
}

.has-swatch .swatch-container .selected-color div::after {
  font: normal normal normal 12px/1 FontAwesome;
  content: "\f00c";
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--primary-white);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.08);
}

.custom-txt-sliders {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 9rem;
  max-width: 100%;
  margin: 0;
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-txt-sliders {
    overflow: hidden;
    height: 1rem;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  .custom-txt-sliders::-webkit-slider-runnable-track {
    height: 1rem;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  .custom-txt-sliders::-webkit-slider-thumb {
    width: 1rem;
    -webkit-appearance: none;
    height: 1rem;
    cursor: pointer;
    background: #fff;
    box-shadow: -340px 0 0 335px #1597ff, inset 0 0 0 1rem #1597ff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  .custom-txt-sliders:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 335px #1597ff, inset 0 0 0 3px #1597ff;
  }
}

.custom-txt-sliders::-moz-range-progress {
  background-color: #43e5f7;
}

.custom-txt-sliders::-moz-range-track {
  background-color: #9a905d;
}

.custom-txt-sliders::-ms-fill-lower {
  background-color: #43e5f7;
}

.custom-txt-sliders::-ms-fill-upper {
  background-color: #9a905d;
}

.slider-drop-container {
  width: 9rem;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.slider-drop-container .slider-drop-subcontainer {
  width: 9rem;
}

.slider-drop-container .slider-drop-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  color: #fff !important;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.slider-drop-container .slider-drop-subcontainer h4 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1597ff;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  z-index: -1;
}

input:not(:active) + .slider-drop-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none;
}

.added-text-list,
.added-img-list {
  margin: 1rem 0;
}

.added-text-list li,
.added-img-list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 7rem 0.8rem 1.2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.added-text-list li .added-text-action,
.added-img-list li .added-text-action {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.added-text-list li .added-text-action button,
.added-img-list li .added-text-action button {
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  background: var(--primary-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  border: 0;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.added-text-list li .added-text-action button:hover,
.added-img-list li .added-text-action button:hover {
  background-color: var(--primary);
  color: var(--primary-white);
}

.added-text-list li > img,
.added-img-list li > img {
  height: 4rem;
  width: 4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  object-fit: cover;
}

.img-direct-edit {
  display: flex;
  margin: 1.6rem -0.5rem 0.8rem;
  align-items: center;
  flex-wrap: wrap;
}

.img-direct-edit li {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.img-direct-edit li button {
  border: 0;
  background: var(--fourth-white);
  padding: 0.3rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.img-direct-edit li button.active-effect {
  color: var(--primary-white);
  background: var(--primary);
}

[data-titleText] {
  position: relative;
}

[data-titleText]::after {
  content: attr(data-titletext);
  position: absolute;
  top: -2.5rem;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: var(--primary);
  color: var(--primary-white);
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

[data-titleText]:hover::after {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.check-fade input {
  display: none;
}

.check-fade label {
  width: 80px;
  height: 27px;
  border-radius: 50px;
  background: #d0d1d1;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-fade label::before {
  content: "";
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  background: var(--primary-white);
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
}

.check-fade label span {
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.46);
}

.check-fade label span:nth-child(1) {
  opacity: 1;
  visibility: visible;
  margin-left: 13px;
}

.check-fade label span:nth-child(2) {
  transform: translateX(100px);
  font-size: 0;
  margin-right: 13px;
  color: var(--primary-white);
}

.check-fade input:checked + label {
  background: var(--primary);
  border-radius: 50px;
}

.check-fade input:checked + label::before {
  right: 56px;
  background: var(--primary-white);
}

.check-fade input:checked + label span:nth-child(2) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  font-size: 0.8rem;
}

.check-fade input:checked + label span:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  font-size: 0;
}

.add-cus-img {
  display: flex;
  align-items: center;
}

.add-cus-img input {
  display: none;
}

.add-cus-img label,
.add-cus-img button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background: var(--secondary-white);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  border: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-right: 0.5rem;
  margin-bottom: 1.2rem;
}

.add-cus-img label:hover,
.add-cus-img button:hover {
  background: var(--primary);
  color: var(--primary-white);
}

@media screen and (min-width: 992px) {
  #cuztomize-modal .modal-lg {
    max-width: 1000px;
  }
}

.parts-color-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parts-color-list li__title {
  font-size: 1.1rem;
  font-weight: 700;
}

.parts-color-list li__color .swatch-img {
  display: inline-flex;
  align-items: center;
}
